exportPattern("^[[:alpha:]]+")

export( read_from_BamData )
export( Read )
export( BamData )
export( AlignmentWindow )
export( Mutation )
export( realign_read )
export( assess_reversion )
export( plot_reversion_summary )

importFrom("utils", "write.table", "read.table")
importFrom("graphics", "axis", "box", "rect")
importFrom("stats", "end", "start")
importFrom("S4Vectors", "runValue")
importFrom("testthat", "test_check", "context", "test_that", "expect_equal", "expect_error")
import( Rsamtools )
import( Biostrings )
import( stringr )
import( IRanges )
import( BSgenome.Hsapiens.UCSC.hg38 )
import( GenomicAlignments )
import( ensembldb )
import( biomaRt )
import( EnsDb.Hsapiens.v86 )
